**Part I: Import library and load data**

In [1]:
# Data analysis libraries
import pandas as pd
import numpy as np

# Data visualization libraires
import seaborn as sns
import matplotlib.pyplot as plt

# show plot in the notebook
%matplotlib inline

from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score

**Part II: Check the data information**

In [2]:
test = pd.read_csv("fashion-mnist_test.csv")
train = pd.read_csv("fashion-mnist_train.csv")

In [3]:
train.head()

,label,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,...,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783,pixel784
0,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,9,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,6,0,0,0,0,0,0,0,5,0,...,0,0,0,30,43,0,0,0,0,0
3,0,0,0,0,1,2,0,0,0,0,...,3,0,0,0,0,1,0,0,0,0
4,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [4]:
# first five observations
test.head()

,label,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,...,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783,pixel784
0,0,0,0,0,0,0,0,0,9,8,...,103,87,56,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,34,0,0,0,0,0,0,0,0,0
2,2,0,0,0,0,0,0,14,53,99,...,0,0,0,0,63,53,31,0,0,0
3,2,0,0,0,0,0,0,0,0,0,...,137,126,140,0,133,224,222,56,0,0
4,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [5]:
# Number of observations and missing values. 
# There are 150 observations and no nan value
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Columns: 785 entries, label to pixel784
dtypes: int64(785)
memory usage: 59.9 MB

**Part III: Explorary data analysis**

In [6]:
X_train = pd.DataFrame(train.iloc[:, 1:].values)
y_train = pd.DataFrame(train.iloc[:, 0].values)
X_test = pd.DataFrame(test.iloc[:, 1:].values)
y_test = pd.DataFrame(test.iloc[:, 0].values)

**Part IV: Train a Model**

In [7]:
knn = KNeighborsClassifier()
from sklearn.model_selection import GridSearchCV
k_range = list(range(1, 5))
param_grid = dict(n_neighbors=k_range)
  
# defining parameter range
grid = GridSearchCV(knn, param_grid, cv=10, scoring='accuracy', return_train_score=False,verbose=1)
  
# fitting the model for grid search
grid_search=grid.fit(X_train, y_train.values.ravel())

Fitting 10 folds for each of 4 candidates, totalling 40 fits

In [8]:
print(grid_search.best_params_)
print(grid_search.best_score_)

{'n_neighbors': 4}
0.8582000000000001

**Part V: Predict**

In [ ]:
knn = KNeighborsClassifier(n_neighbors=26)

knn.fit(X_train, y_train.values.ravel())

y_test_hat=knn.predict(X_test) 

test_accuracy=accuracy_score(y_test.values.ravel(),y_test_hat)

In [ ]:
print(test_accuracy)